{# src/Quak/OpenArenaBundle/Resources/views/Homepage/index.html.twig #}
{% extends 'QuakOpenArenaBundle::layout.html.twig' %}

{% block title %}
    Homepage
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset(latestSeason.getStyleSheetName()) }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
<div id="currentSeason">
	<h1><a href="{{ path('QuakOpenArenaBundle_season', { id : latestSeason.number }) }}">Season {{ latestSeason.number }}</a></h1>
    {% if nextMatch %}
	<div id="nextMatch">
        <h2>Next match</h2>
		<h2><a href="{{ path('QuakOpenArenaBundle_match', { id: nextMatch.id }) }}">Round {{ nextMatch.round.number }}, Match {{ nextMatch.number }}</a></h2>
		<h3>{{ nextMatch.date.format('Y-m-d H:i') }}<br />
        <strong>{{ nextMatchTimeLeft.d }} days {{ nextMatchTimeLeft.h }} hours {{ nextMatchTimeLeft.i }} minutes left!</strong>
        <br />
        <br />
        {{ nextMatch.teams[0].name }}<br />
        vs<br />
        {{ nextMatch.teams[1].name }}</h3>
	</div>
    {% endif %}
    {% if lastMatch %}
	<div id="lastMatch">
        <h2>Last match</h2>
		<h2><a href="{{ path('QuakOpenArenaBundle_match', { id: lastMatch.id }) }}">Round {{ lastMatch.round.number }}, Match {{ lastMatch.number }}</a></h2>
		<h3>{{ lastMatch.date.format('Y-m-d H:i') }}</h3>
        {% for clash in lastMatch.clashes %}
            <h3 class="mapname">{{ clash.map.name }}</h3>
            {% if clash.clashResults.count > 0 %}
                <p class="teamname">{{ clash.clashResults[0].team.nameTrim }}</p>
                <p class="result">{{ clash.clashResults[0].score }}</p>
                <p class="result">{{ clash.clashResults[1].score }}</p>
                <p class="teamname">{{ clash.clashResults[1].team.nameTrim }}</p>
                <div class="clearfix"></div>
            {% endif %}
        {% endfor %}
	</div>
    {% endif %}
</div>
{% endblock %}
