{# src/Quak/OpenArenaBundle/Resources/views/Homepage/match.html.twig #}
{% extends 'QuakOpenArenaBundle::layout.html.twig' %}

{% block title %}
    Season {{ match.round.season.number }}, Round {{ match.round.number }}, Match {{ match.number }}
{% endblock %}

{% block body %}
<div id="match">
    <div id="teams">
        <h1><a href="{{ path('QuakOpenArenaBundle_season', { id : match.round.season.number }) }}">Season {{ match.round.season.number }}</a>, Round {{ match.round.number }}, Match {{ match.number }}</h1>
        <h2><a href="{{ path('QuakOpenArenaBundle_team', { id : match.teams[0].id}) }}">{{ match.teams[0].name }}</a>
        <br />vs<br />
        <a href="{{ path('QuakOpenArenaBundle_team', { id : match.teams[1].id}) }}">{{ match.teams[1].name }}</a></h2>
    </div>
    <div id="clashes">
    {% for clash in match.clashes %}
        <div class="clash">
            <h1>{{ clash.map.name }}</h1>
            <h2><a href="{{ clash.screen }}">Screenshot</a></h2>
            <h2><a href="{{ clash.replay }}">Replay</a></h2>
        </div>
        {% if clash.clashResults.count > 0 %}
        <div class="team1">
            <h1>{{ match.teams[0].name }}<br />{{ clash.getScoreForTeam(match.teams[0].id) }}</h1>
            {% for result in clash.getPlayerResultsForTeam(match.teams[0].id) %}
            <h2><a href="{{ path('QuakOpenArenaBundle_player', { id : result.player.id }) }}">{{ result.player.name }}</a> {{ result.score }}
            </h2>
            <ul class="playerStats">
                <li>Kills: {{ result.kills }}</li>
                <li>Carrier Kills: {{ result.carrierKills }}</li>
                <li>Flag Captures: {{ result.flagCaptures }}</li>
                <li>Flag Pickups: {{ result.flagPickups }}</li>
                <li>Flag Returns: {{ result.flagReturns }}</li>
                <li>Sprees: {{ result.sprees }}</li>
                {% for weaponResult in result.weaponResults %}
                {% if weaponResult.score > 0 %}
                <li>{{ weaponResult.weapon.name }}: {{ weaponResult.score }}</li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        <div class="team2">
            <h1>{{ match.teams[1].name }}<br />{{ clash.getScoreForTeam(match.teams[1].id) }}</h1>
            {% for result in clash.getPlayerResultsForTeam(match.teams[1].id) %}
            <h2>{{ result.score }} <a href="{{ path('QuakOpenArenaBundle_player', { id : result.player.id }) }}">{{ result.player.name }}</a>
            </h2>
            <ul class="playerStats">
                <li>Kills: {{ result.kills }}</li>
                <li>Carrier Kills: {{ result.carrierKills }}</li>
                <li>Flag Captures: {{ result.flagCaptures }}</li>
                <li>Flag Pickups: {{ result.flagPickups }}</li>
                <li>Flag Returns: {{ result.flagReturns }}</li>
                <li>Sprees: {{ result.sprees }}</li>
                {% for weaponResult in result.weaponResults %}
                {% if weaponResult.score > 0 %}
                <li>{{ weaponResult.weapon.name }}: {{ weaponResult.score }}</li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        {% endif %}
        <div class="clearfix"></div>
    {% endfor %}
    </div>
</div>
{% endblock %}
