{# src/Quak/OpenArenaBundle/Resources/views/Homepage/player.html.twig #}
{% extends 'QuakOpenArenaBundle::layout.html.twig' %}

{% block title %}
    {{ player.name }}, Season {{ player.team.season.number }}
{% endblock %}

{% block body %}
<div id="player">
    <div id="stats">
        <h1>{{ player.name }}</h1>
        <h1>Team: {{ player.team.name }}</h1>
        <h1>Score: {{ player.getTotalScore() }} ({{ player.getAverageScore() }})</h1>
        <h1>Kills: {{ player.getTotalKills() }} ({{ player.getAverageKills() }})</h1>
        <h1>Carrier kills: {{ player.getTotalCarrierKills() }} ({{ player.getAverageCarrierKills() }})</h1>
        <h1>Flag pickups: {{ player.getTotalFlagPickups() }} ({{ player.getAverageFlagPickups() }})</h1>
        <h1>Flag returns: {{ player.getTotalFlagReturns() }} ({{ player.getAverageFlagReturns() }})</h1>
        <h1>Flag captures: {{ player.getTotalFlagCaptures() }} ({{ player.getAverageFlagCaptures() }})</h1>
        <h1>Sprees: {{ player.getTotalSprees() }} ({{ player.getAverageSprees() }})</h1>
        <h1>Total kills by weapon:</h1>
        <ul>
        {% for weaponResult in player.getTotalWeaponResults() %}
            <li>{{ weaponResult.weapon.name }}: {{ weaponResult.score }}</li>
        {% endfor %}
        </ul>
        <h1>Best match:
            {% if player.getTopResult() is null %}
            N/A
            {% else %}
            <a href="{{ path('QuakOpenArenaBundle_match', { id: player.getTopResult().clash.match.id }) }}">Round {{ player.getTopResult().clash.match.round.number }}, Match {{ player.getTopResult().clash.match.number }}</a>
            {% endif %}
        </h1>
    </div>
    <div id="matches">
        <h1>Matches played</h1>
        <ul>
        {% for result in player.results %}
            <li><a href="{{ path('QuakOpenArenaBundle_match', { id : result.clash.match.id }) }}">{{ result.clash.map.name }}</a>: {{ result.score }}</li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}