{# src/Quak/OpenArenaBundle/Resources/views/Homepage/season.html.twig #}
{% extends 'QuakOpenArenaBundle::layout.html.twig' %}

{% block title %}
    Season {{ season.number }}
{% endblock %}

{% block body %}
<div id="season">
	<div id="teams">
        <h1>Top teams</h1>
		<ul>
		{% for team in season.getTopTeams() %}
			<li><a href="{{ path('QuakOpenArenaBundle_team', { id: team.id }) }}">{{ team.name }}</a> ({{ team.getAverageScore() }})</li>
		{% endfor %}
		</ul>
	</div>
	<div id="matchesUpcoming">
		<h1>Upcoming matches</h1>
		<ul>
		{% for match in season.getUpcominMatches() %}
			<li>
				<p><a href="{{ path('QuakOpenArenaBundle_match', { id: match.id }) }}">Round {{ match.round.number }}, Match {{ match.number }}</a></p>
				<p>{{ match.date.format('Y-m-d H:i') }}</p>
        		<p>{{ match.teams[0].name }} vs {{ match.teams[1].name }}</p>
			</li>
		{% endfor %}
		</ul>
	</div>
	<div id="matchesPlayed">
		<h1>Played matches</h1>
		<ul>
		{% for match in season.getPlayedMatches() %}
            <li>
                <p><a href="{{ path('QuakOpenArenaBundle_match', { id: match.id }) }}">Round {{ match.round.number }}, Match {{ match.number }}</a></p>
                <p>{{ match.date.format('Y-m-d H:i') }}</p>
                {% for clash in match.clashes %}
                    <p>{{ clash.map.name }}
                    {% if clash.clashResults.count > 0 %}
                        <br />{{ clash.clashResults[0].team.name }} {{ clash.clashResults[0].score }} : {{ clash.clashResults[1].score }} {{ clash.clashResults[1].team.name }}
                    {% endif %}
                    </p>
                {% endfor %}
            </li>
		{% endfor %}
		</ul>
	</div>
	<div id="players">
        <h1>Top players</h1>
        <ul>
        {% for player in season.getTopPlayers() %}
            <li><a href="{{ path('QuakOpenArenaBundle_player', { id : player.id }) }}">{{ player.name }}</a> ({{ player.getAverageScore() }})</li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
